@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.trainer-payment-details-container {
  background-color: var(--box-background-color);
  width: 100%;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
  justify-content: space-between;
  border: 1px solid $roger-red;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;

  .title-container {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;

    h4 {
      font-size: 1.2rem;
    }
    p {
      width: 500px;
      @include small-screen {
        width: 100%;
      }
    }
  }

  .delete-container {
    display: flex;
    justify-content: flex-end;
    .button {
      background-color: $roger-red;
      border: none;
      width: 200px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 1rem;
      cursor: pointer;
      height: 40px;
    }
  }
}
