@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
.reviews-section {
  background-color: var(--box-background-color);
  width: 100%;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border: 1px solid $roger-border-color;

  button {
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    border: none;
    width: 150px;
    background-color: $roger-black-dark;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: center;
  }

  button:hover {
    background-color: $roger-black-light;
    cursor: pointer;
  }
  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between;

    .review-container-wrapper {
      width: 48%;
      row-gap: 20px;
      display: flex;
      flex-direction: column;
    }
  }
}
