@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.player-stats-container {
  background-color: $roger-box-bg-color;
  width: 48%;
  height: 50vh;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2vh;
  height: 55vh;

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
  .stats-container {
    display: flex;
    justify-content: space-between;
    .stat {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 20%;
      .stat-number {
        font-size: 2rem;
        font-weight: bold;
        color: $roger-blue;
      }
    }
  }
  .view-all-button {
    background-color: $roger-black-dark;
    border: none;
    width: 200px;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  .view-all-button:hover {
    background-color: $roger-black-light;
  }
}
