@import "/src/common/styles/z-index.scss";

.club-home-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 10vh;

  .top-container {
    display: flex;
    justify-content: space-between;
    column-gap: 1vw;
    @include medium-screen {
      row-gap: 2vh;
    }
    @include small-screen {
      flex-direction: column;
      row-gap: 2vh;
    }
  }
}
