@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.club-bank-details-container {
  background-color: $roger-box-bg-color;
  width: 100%;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
  justify-content: space-between;
  border: 1px solid $roger-border-color;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;

  .title-container {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;

    h4 {
      font-size: 1.2rem;
    }
    p {
      width: 500px;
    }
  }

  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .card-exists-container {
      display: flex;
      align-items: center;
      column-gap: 1vw;
      .done {
        color: $roger-green;
        font-size: 1.2rem;
      }
      .card-exists-text {
        color: $roger-green;
      }
    }
    .button {
      background-color: $roger-white;
      color: black;
      border: none;
      width: 200px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 1rem;
      cursor: pointer;
      height: 40px;
    }
    .button:hover {
      background-color: $roger-blue;
      color: $roger-white;
    }
  }
}
