@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.common-register-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;

  .hero {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: $roger-border-radius;
  }

  .user-type-outer-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    row-gap: 8vh;
  }

  .user-type-options-container {
    display: flex;
    justify-content: space-between;
  }

  .user-type-container {
    background-color: $roger-box-bg-color;
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    width: 30%;
    cursor: pointer;
  }
  .user-type-container:hover {
    background-color: $roger-blue;
  }
  .user-type-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
}
