@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.common-register-container {
  display: flex-end;
  justify-content: space-between;
  margin: 70px auto 0 auto;
  width: 50%;

  .user-type-options-container {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
  }

  .user-type-container {
    background-color: var(--box-background-color);
    border: 1px solid;
    border-color: var(--navigation-box-border-color);
    border-radius: $roger-border-radius;
    padding: $roger-button-padding;
    font-size: 0.9rem;
    cursor: pointer;
    width: 30%;
  }
  .user-type-container:hover {
    border-color: $roger-blue;
  }
  .active-container {
    background-color: $roger-blue;
    border: 1px solid;
    border-color: $roger-blue;
    border-radius: $roger-border-radius;
    padding: $roger-button-padding;
    font-size: 0.9rem;
    cursor: pointer;
    width: 30%;
    color: white;
  }
  .user-type-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
}
