@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;

  .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .result-title {
      font-size: 2rem;
    }
  }

  table {
    width: 70%;
    text-align: left;
  }
  .edit-package-button {
    padding: 10px;
    border-radius: $roger-border-radius;
    border: none;
    width: 150px;
    background-color: $roger-black-dark;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: center;
  }

  .edit-package-button:hover {
    background-color: $roger-blue;
  }
}
