@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;

  .result-title {
    font-size: 2rem;
  }

  table {
    width: 70%;
    text-align: left;

    .court-row:hover {
      background-color: $roger-black-light;
      cursor: pointer;
    }
    .court-image {
      width: 30px;
      height: 30px;
    }

    .accept-button {
      font-weight: bold;
      text-decoration: none;
      border: none;
      background-color: transparent;
      font-size: 1rem;
      color: $roger-blue;
      cursor: pointer;
    }
  }
}
