@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.login-page-container {
  display: flex;
  align-items: stretch;
  margin-top: 100px;

  .hero {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: $roger-border-radius;
    @include medium-screen {
      width: 45%;
    }
    @include small-screen {
      display: none;
    }
  }

  .login-form-content {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    background-color: var(--box-background-color);
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    width: 35%;
    margin: 0 auto;
    @include medium-screen {
      width: 45%;
    }
    @include small-screen {
      width: 100%;
      max-width: 400px;
    }
  }

  .login-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    width: 100%;

    .error-field {
      font-size: 0.8rem;
      color: $roger-red;
    }
    label {
      font-size: 0.9rem;
    }
    input {
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      border: 1px solid $roger-border-color;
      width: 100%;
      background-color: inherit;
      height: 50px;
      color: var(--text-color);

      &:focus {
        outline: none;
        background-color: inherit;
      }
    }

    /* Target autofilled input fields */
    input:-webkit-autofill {
      -webkit-text-fill-color: var(--text-color); /* Text color */
      background-color: transparent; /* Background color */
    }

    /* Target autofilled input fields when focused */
    input:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--text-color); /* Text color */
      background-color: transparent; /* Background color */
    }

    .court-picture-container {
      display: flex;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;

    .passive-submit-button {
      background-color: var(--passive-login-button-color);
      color: white;
      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      height: 40px;
      width: 100%;
    }
    .passive-submit-button:hover {
      cursor: pointer;
    }
    .active-submit-button {
      background-color: var(--active-login-button-color);
      color: white;
      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      height: 40px;
      width: 100%;
    }
    .active-submit-button:hover {
      background-color: var(--primary-button-background-color);
      color: white;
    }
  }

  .error-field {
    color: $roger-red;
    font-size: 0.8rem;
  }
  .register-nav {
    text-decoration: none;
    color: var(--text-color);
  }
  .register-span {
    color: $roger-blue;
    font-weight: bold;
    text-decoration: none;
  }
}
