@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;

  .result-title {
    font-size: 2rem;
  }

  table {
    width: 100%;
    text-align: left;

    .trainer-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .trainer-name {
      color: white;
      text-decoration: none;
    }
    .confirmed-text {
      color: $roger-green;
    }
    .pending-text {
      color: $roger-yellow;
      font-size: 0.8rem;
    }
    .accept-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      background-color: $roger-green;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: $roger-black-dark;
      text-align: center;
    }

    .accept-button:hover {
      background-color: $roger-black-dark;
      color: white;
    }
    .decline-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      background-color: $roger-red;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: $roger-black-dark;
      text-align: center;
    }

    .decline-button:hover {
      background-color: $roger-black-dark;
      color: white;
    }
  }
}
