@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.player-lesson-container {
  background-color: $roger-box-bg-color;
  border: 1px $roger-border-color solid;
  width: 25%;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
  color: white;
  text-decoration: none;
  transition: 1s ease;
  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    background-color: $roger-black-dark;
    border: none;
    width: 200px;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: $roger-black-light;
  }
}
.player-lesson-container:hover {
  border-color: white;
}
