@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.register-page-container {
  display: flex;
  align-items: stretch;
  margin-top: 100px;

  .hero {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: $roger-border-radius;
  }

  .register-form-content {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    background-color: $roger-box-bg-color;
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    width: 45%;
    margin: 0 auto;
  }

  .register-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;

    .input-outer-container {
      display: flex;
      justify-content: space-between;

      .input-container {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 48%;
        .error-field {
          font-size: 0.8rem;
          color: $roger-red;
        }
        label {
          font-size: 0.9rem;
        }
        input,
        select {
          padding: $roger-button-padding;
          border-radius: $roger-border-radius;
          border: 1px solid $roger-border-color;
          width: 100%;
          background-color: inherit;
          height: 50px;
        }
        .court-picture-container {
          display: flex;
        }
      }
    }
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 4vh 0;
    .discard-button {
      background-color: $roger-black-dark;
      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      height: 40px;
      width: 150px;
    }
    .discard-button:hover {
      background-color: $roger-black-dark;
    }
    .discard-button:hover {
      background-color: $roger-box-bg-color-hover;
    }
    .submit-button {
      background-color: white;
      color: black;
      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      height: 40px;
      width: 150px;
    }
    .submit-button:hover {
      background-color: $roger-white;
      color: black;
    }
  }

  .error-field {
    color: $roger-red;
    font-size: 0.8rem;
  }

  .login-nav {
    text-decoration: none;
    color: $roger-text-color;
  }

  .login-span {
    color: $roger-blue;
    font-weight: bold;
  }
}
