@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;

  .result-title {
    font-size: 2rem;
  }

  table {
    width: 100%;
    text-align: left;

    .player-row {
      .win-count {
        color: $roger-green;
      }
      .lost-count {
        color: $roger-red;
      }
      .draw-count {
        color: $roger-yellow;
      }
      .player-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .vertical-center {
        display: flex;
        align-items: center;
      }
      .player-name {
        color: white;
        text-decoration: none;
      }
    }
  }
  .view-all-button {
    background-color: $roger-black-dark;
    border: none;
    width: 200px;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    font-size: 1rem;
    cursor: pointer;
  }
  .view-all-button:hover {
    background-color: $roger-black-light;
  }
}
