@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;

  .result-title {
    font-size: 2rem;
  }

  table {
    width: 100%;
    text-align: left;

    .club-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .club-name {
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      color: white;
      vertical-align: middle;
    }

    .remove-fav-icon {
      color: $roger-blue;
      cursor: pointer;
      font-size: 1.5rem;
    }
    .add-fav-icon {
      cursor: pointer;
      font-size: 1.5rem;
    }
    .add-fav-icon:hover {
      color: $roger-blue;
    }
    .no-subscription-text,
    .employment-pending-text {
      font-size: 0.8rem;
      color: $roger-yellow;
    }
    .add-payment-details-text {
      font-size: 0.8rem;
      color: $roger-yellow;
    }
    .subscribe-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      width: 150px;
      background-color: $roger-black-dark;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: white;
      text-align: center;
    }

    .subscribe-button:hover {
      background-color: $roger-blue;
    }
    .subscribed-text,
    .employed-text {
      font-size: 0.8rem;
      color: $roger-green;
    }
  }
}
