@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;

  .result-title {
    font-size: 2rem;
  }

  table {
    width: 100%;
    text-align: left;

    .player-row:hover {
      background-color: $roger-black-light;
      cursor: pointer;
    }

    .vertical-center {
      display: flex;
      align-items: center;
    }

    .player-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .accept-button {
      font-weight: bold;
      border: none;
      background-color: transparent;
      font-size: 1rem;
      color: $roger-blue;
      cursor: pointer;
    }
    .decline-button {
      font-weight: bold;
      border: none;
      background-color: transparent;
      font-size: 1rem;
      color: $roger-red;
      cursor: pointer;
    }
    .fee {
      color: $roger-green;
    }
  }
  .fee-text {
    color: $roger-green;
    font-size: 0.9rem;
  }
}
