@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.training-page-container {
  display: flex;
  column-gap: 4vh;
  border-radius: $roger-border-radius;
  width: 100%;

  .input-container {
    display: flex;
    width: 15%;
    align-items: center;
    padding: 2px;
    border-radius: $roger-border-radius;
    justify-content: center;
    column-gap: 14px;

    select,
    input {
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      border: 1px solid;
      border-color: var(--box-border-color);
      color: var(--text-color);
      width: 100%;
      background-color: var(--navigation-box-background-color);
      cursor: pointer;
    }
  }

  .search-container {
    display: flex;
    width: 40%;
    align-items: center;
    padding: 2px;
    border-radius: $roger-border-radius;
    justify-content: center;
    column-gap: 14px;

    label {
      font-weight: bold;
    }

    select,
    input {
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      border: 1px solid;
      border-color: var(--box-border-color);
      width: 100%;
      background-color: var(--navigation-box-background-color);
      color: var(--text-color);
      &::placeholder {
        color: var(--text-color);
      }
    }
  }
}
