@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.results-container {
  background-color: $roger-box-bg-color;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;

  .title {
    font-size: 2rem;
  }
  table {
    width: 100%;
    text-align: left;
    .player-name {
      color: white;
      text-decoration: none;
    }
    .add-score-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      width: 150px;
      background-color: $roger-black-dark;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: white;
      text-align: center;
    }
    .add-score-button:hover {
      background-color: $roger-blue;
    }
    .score-sent-text {
      color: $roger-green;
      font-size: 0.8rem;
    }
    .waiting-confirmation-text {
      color: $roger-yellow;
      font-size: 0.8rem;
    }
    .confirmed-text {
      color: $roger-green;
      font-size: 0.8rem;
    }
  }
}
