@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.trainer-bank-details-container {
  background-color: $roger-box-bg-color;
  width: 48%;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    background-color: $roger-black-dark;
    border: none;
    width: 200px;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: $roger-black-light;
  }
  .nav-container {
    display: flex;
    border-radius: $roger-border-radius;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .active-button {
      background-color: $roger-blue;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      width: 48%;
    }
    .inactive-button {
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;

      border: none;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      width: 48%;
    }
    .inactive-button:hover {
      background-color: $roger-black-light;
    }
  }

  table {
    width: 100%;
    text-align: left;

    .payment-row:hover {
      background-color: $roger-black-light;
      cursor: pointer;
    }
    .payment-image {
      width: 30px;
      height: 30px;
    }
  }
}
