@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.events-section {
  background-color: var(--box-background-color);
  width: 100%;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  border: 1px solid $roger-border-color;
  overflow-x: auto;

  button {
    padding: 10px;
    border-radius: $roger-border-radius;
    border: none;
    width: 150px;
    background-color: $roger-black-dark;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: center;
  }

  button:hover {
    background-color: $roger-black-light;
    cursor: pointer;
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    .opponent-row {
      border-bottom: 1px solid $roger-border-color;

      td {
        border-top: 1px solid $roger-border-color;
        vertical-align: middle;
        padding: 10px;
        height: 12vh;
      }

      .opponent-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
      }

      .opponent-name {
        color: var(--text-color);
        text-decoration: none;
      }
    }
  }
}
