@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.modal-container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  row-gap: 2vh;
  margin: 70px auto;
  background-color: $roger-box-bg-color;
  padding: $roger-modal-padding;
  border-radius: $roger-border-radius;
  color: $roger-text-color;

  .decision-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .decision-buttons-container {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .confirm-button {
        padding: $roger-box-padding;
        border-radius: $roger-border-radius;
        border: none;
        margin-top: 4vh;
        font-size: 1rem;
        font-weight: bold;
        width: 45%;
        background-color: $roger-green;
        cursor: pointer;
        color: $roger-black-light;
      }
      .reject-button {
        padding: $roger-box-padding;
        border-radius: $roger-border-radius;
        border: none;
        margin-top: 4vh;
        font-size: 1rem;
        font-weight: bold;
        width: 45%;
        cursor: pointer;
        color: $roger-black-light;
      }
      .confirm-button:hover {
        background-color: $roger-blue;
      }
      .reject-button:hover {
        background-color: $roger-blue;
      }
    }

    table {
      width: 100%;
      text-align: left;
      margin-top: 20px;

      .payment-row:hover {
        background-color: $roger-black-light;
        cursor: pointer;
      }
      .payment-image {
        width: 30px;
        height: 30px;
      }
    }
  }
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 2rem;
      font-weight: bold;
    }
    .close-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .close-icon:hover {
      color: $roger-red;
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;

    .input-outer-container {
      display: flex;
      justify-content: space-between;

      .input-container {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        width: 100%;

        input,
        select {
          padding: $roger-box-padding;
          border-radius: $roger-border-radius;
          border: none;
          width: 95%;
        }
      }
    }
    .form-button {
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      border: none;
      margin-top: 4vh;
      font-size: 1rem;
      font-weight: bold;
    }

    .form-button:hover {
      background-color: $roger-blue;
      cursor: pointer;
    }

    .error-field {
      color: $roger-red;
      font-size: 0.8rem;
    }
  }
}
