@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: $roger-text-color;
  background-color: $roger-bg-color;
  padding: 40px 0;
  width: 90%;
}

th,
td {
  padding: 10px;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.hero {
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: bottom;
  border-radius: $roger-border-radius;
}
