@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.training-page-container {
  display: flex;
  column-gap: 4vh;
  border-radius: $roger-border-radius;
  width: 100%;
  @include small-screen {
    flex-wrap: wrap;
    row-gap: 1vh;
    column-gap: 2vh;
  }
  .input-container {
    display: flex;
    width: 15%;
    align-items: center;
    padding: 2px;
    border-radius: $roger-border-radius;
    justify-content: center;
    column-gap: 14px;
    @include small-screen {
      width: 33%;
    }
    select,
    input {
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      border: 1px solid;
      border-color: var(--box-border-color);
      color: var(--text-color);
      width: 100%;
      background-color: var(--navigation-box-background-color);
      cursor: pointer;
      font-weight: bold;
    }
  }

  .search-container {
    display: flex;
    width: 40%;
    align-items: center;
    padding: 2px;
    border-radius: $roger-border-radius;
    justify-content: center;
    column-gap: 14px;
    @include small-screen {
      width: 33%;
    }
    label {
      font-weight: bold;
    }

    select,
    input {
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      border: 1px solid;
      border-color: var(--box-border-color);
      width: 100%;
      background-color: var(--navigation-box-background-color);
      color: var(--text-color);
      &::placeholder {
        color: var(--text-color);
      }
    }
  }
  .passive-clear-button {
    border-radius: $roger-border-radius;
    background-color: $roger-box-bg-color-hover;
    border: none;
    padding: $roger-button-padding;
  }
  .active-clear-button {
    border-radius: $roger-border-radius;
    background-color: $roger-red;
    border: none;
    padding: $roger-button-padding;
    cursor: pointer;
  }
}
