@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.message-area-container {
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
  position: relative;
  background-color: var(--box-background-color);
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }

  .messages-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow-y: auto;
    row-gap: 3vh;

    .current-user-message-container {
      display: flex;
      width: 60%;
      margin-left: auto;
      align-self: start;
      .texts-outer-container {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: auto;
        row-gap: 1vh;
        .title-container {
          display: flex;
          align-items: center;
          column-gap: 2vw;
          margin-left: auto;
          column-gap: 1vw;
          h5 {
            font-size: 0.8rem;
          }
          p {
            font-size: 0.7rem;
          }
        }
        .texts-container {
          background-color: var(--chat-current-user-background);
          padding: $roger-button-padding;
          border-radius: $roger-border-radius;
          border-top-right-radius: 0;
          margin-left: auto;
        }
      }
    }

    .other-user-message-container {
      display: flex;
      align-self: flex-start;
      width: 60%;
      .texts-outer-container {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-right: auto;
        row-gap: 1vh;
        .title-container {
          display: flex;
          align-items: center;
          column-gap: 1vw;
          h5 {
            font-size: 0.8rem;
          }
          p {
            font-size: 0.7rem;
          }
        }
        .texts-container {
          background-color: var(--chat-other-user-background);
          padding: $roger-button-padding;
          border-radius: $roger-border-radius;
          border-top-left-radius: 0;
          margin-right: auto;
          min-width: 4vw;
        }
      }
    }
  }

  .message-box {
    width: 100%;
    display: flex;
    align-items: end;
    border-radius: $roger-border-radius;
    padding: $roger-button-padding;
    background-color: var(--message-area-background);
    column-gap: 1vw;

    textArea {
      background-color: var(--message-area-background);
      width: 90%;
      height: 10vh;
      border: none;
      padding: $roger-button-padding;
      color: var(--text-color);
    }

    button {
      background-color: var(--active-login-button-color);
      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
    }

    button:hover {
      background-color: $roger-black-light;
    }
  }
}
