@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.player-train-container {
  background-color: $roger-box-bg-color;
  width: 48%;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
  color: white;
  text-decoration: none;
  transition: background-color 0.5s ease;

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    background-color: $roger-black-dark;
    border: none;
    width: 200px;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: $roger-black-light;
  }
}

.player-train-container:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(33, 62, 166, 1) 0%,
    rgba(1, 135, 200, 1) 100%
  );
}
