@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.results-container {
  background-color: $roger-box-bg-color;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;

  .title {
    font-size: 2rem;
  }
  table {
    width: 100%;
    text-align: left;

    .payment-row:hover {
      background-color: $roger-black-light;
      cursor: pointer;
    }
    .payment-image {
      width: 30px;
      height: 30px;
    }
  }
}
