@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.match-page-container {
  display: flex;
  column-gap: 4vh;
  background-color: $roger-black-light;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  width: 100%;

  .input-container {
    display: flex;
    width: 25%;
    align-items: center;
    background-color: $roger-black-dark;
    padding: 2px;
    border-radius: $roger-border-radius;
    justify-content: center;
    column-gap: 14px;

    label {
      font-weight: bold;
    }

    select,
    input {
      border: none;
      background-color: $roger-black-dark;
    }
  }

  button {
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    border: none;
    font-size: 1rem;
    font-weight: bold;
  }

  button:hover {
    background-color: $roger-red;
    cursor: pointer;
  }

  .error-field {
    color: $roger-red;
    font-size: 0.8rem;
  }
}
