@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  position: relative;
  @include small-screen {
    flex-direction: row;
    padding-bottom: 4vh;
    width: 100%;
  }
  h4 {
    font-size: 0.9;
    color: var(--text-color);
    font-weight: lighter;
    cursor: pointer;
    width: 90%;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    @include small-screen {
      width: auto;
    }
  }
  h4:hover {
    color: white;
    background-color: $roger-border-color;
  }
  .active-page {
    color: $roger-blue;
    font-weight: bold;
  }
}
