@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 4vh;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  width: 70vw;
  height: auto;
  margin: 150px auto 0 auto;
  margin-top: calc(10vh + 20px);

  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close-button {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    background-color: $roger-box-bg-color;
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    width: 100%;
    margin: 0 auto;

    .input-outer-container {
      display: flex;
      justify-content: center;

      .input-container {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        width: 25%;
        input,
        select {
          padding: $roger-box-padding;
          border-radius: $roger-border-radius;
          border: none;
          width: 95%;
        }
        .profile-picture-container {
          display: flex;
          align-items: center;
          .profile-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
    button {
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      width: 20vw;
      border: none;
      margin: 0 auto;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }
    button:hover {
      background-color: $roger-blue;
    }
    .error-field {
      color: $roger-red;
      font-size: 0.8rem;
    }
  }
}
