@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.register-page-container {
  display: flex;
  align-items: stretch;
  margin-top: 50px;

  .hero {
    width: 50%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    border-radius: $roger-border-radius;
    @include small-screen {
      display: none;
    }
  }

  .register-form-content {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    background-color: var(--box-background-color);
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    width: 45%;
    margin: 0 auto;
    @include small-screen {
      width: 100%;
    }
  }

  .title-container {
    display: flex;
    justify-content: space-between;

    .register-title {
      font-size: 2rem;
      font-weight: bold;
    }
    .nav-button {
      font-size: 1.3rem;
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;

    .page-container {
      display: flex;
      flex-direction: column;
      row-gap: 4vh;
    }
    .input-outer-container {
      display: flex;
      justify-content: space-between;

      .input-container {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 48%;
        .error-field {
          font-size: 0.8rem;
          color: $roger-red;
        }
        label {
          font-size: 0.9rem;
        }
        input,
        select {
          padding: $roger-button-padding;
          border-radius: $roger-border-radius;
          border: 1px solid $roger-border-color;
          width: 100%;
          background-color: inherit;
          height: 50px;
          color: var(--text-color);
        }
        .court-picture-container {
          display: flex;
        }
      }
    }
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 4vh 0;
    .discard-button {
      background-color: rgb(96, 95, 95);

      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      height: 40px;
      width: 150px;
    }

    .discard-button:hover {
      background-color: grey;
    }
    .submit-button {
      background-color: $roger-blue;
      color: white;
      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      height: 40px;
      width: 150px;
    }
    .submit-button:hover {
      background-color: $roger-blue-hover;
    }
  }

  .error-field {
    color: $roger-red;
    font-size: 0.8rem;
  }

  .login-nav {
    text-decoration: none;
    color: var(--text-color);
  }

  .login-span {
    color: $roger-blue;
    font-weight: bold;
  }
}
