@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.profile {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  h3 {
    margin-bottom: 2vh;
    font-size: 2rem;
  }

  .top-sections-container {
    display: flex;
    justify-content: space-between;

    .profile-section {
      background-color: $roger-box-bg-color;
      width: 50%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;

      .profile-data-container {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;

        .secondary-profile-data-container {
          display: flex;
          flex-direction: column;
          row-gap: 10px;

          .profile-info {
            display: flex;
            align-items: center;
            column-gap: 15px;
            align-items: start;
            .icon {
              font-size: 20px;
            }
            .info-text {
              width: 90%;
            }
          }
        }
      }

      .profile-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .interaction-section {
      background-color: $roger-box-bg-color;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      width: 45%;
      display: flex;
      flex-direction: column;
      .buttons-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
      }
      .interaction-button {
        border-radius: $roger-border-radius;
        border: none;
        width: 120px;
        height: 70px;
        font-size: 1rem;
        font-weight: bold;
        padding: $roger-box-padding;
      }

      .interaction-button:hover {
        background-color: $roger-blue;
        cursor: pointer;
      }
    }
  }
  .middle-sections-container {
    .reviews-section {
      background-color: $roger-box-bg-color;
      width: 100%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;

      .club-image {
        width: 50px;
      }

      .review-container {
        background-color: $roger-black-dark;
        padding: $roger-box-padding;
        border-radius: $roger-border-radius;
        width: 500px;
      }
    }
  }

  .bottom-sections-container {
    .events-section {
      background-color: $roger-box-bg-color;
      width: 100%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      table {
        width: 100%;
        text-align: left;

        .event-row:hover {
          background-color: $roger-black-light;
          cursor: pointer;
        }
        .event-image {
          width: 30px;
          height: 30px;
        }

        .accept-button {
          font-weight: bold;
          text-decoration: none;
          border: none;
          background-color: transparent;
          font-size: 1rem;
          color: $roger-blue;
          cursor: pointer;
        }
      }
    }
  }
}
