@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.modal-container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 70vw;
  row-gap: 2vh;
  margin: 70px auto;
  background-color: $roger-box-bg-color;
  padding: $roger-modal-padding;
  border-radius: $roger-border-radius;
  color: $roger-text-color;

  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 2rem;
      font-weight: bold;
    }
    .close-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .close-icon:hover {
      color: $roger-red;
    }
    .delete-subscriber-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      background-color: $roger-red;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: $roger-black-dark;
      text-align: center;
      margin-top: 10px;
    }

    .delete-subscriber-button:hover {
      background-color: $roger-black-dark;
      color: white;
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;

    .input-outer-container {
      display: flex;
      justify-content: space-between;

      .input-container {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        width: 100%;

        input,
        select {
          padding: $roger-box-padding;
          border-radius: $roger-border-radius;
          border: none;
          width: 95%;
        }
      }
    }
    .form-button {
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      border: none;
      margin-top: 4vh;
      font-size: 1rem;
      font-weight: bold;
    }

    .form-button:hover {
      background-color: $roger-blue;
      cursor: pointer;
    }

    .error-field {
      color: $roger-red;
      font-size: 0.8rem;
    }
  }
}
