.carousel-container {
  position: relative;
  width: 100%;
  height: auto;
}

.hero {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
