@import "/src/common/styles/colors.scss";
@import "/src/common/styles/globals.scss";

.trainer-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  margin-top: 80px;
  width: 100%;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  .title-container {
    height: 15vh;
    border-bottom: 1px solid $roger-border-color;

    h2 {
      font-size: 2rem;
    }
  }
  .main {
    display: flex;
    justify-content: space-between;

    .sections {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
  }
}
