@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.results-container {
  background-color: $roger-box-bg-color;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;

  .title {
    font-size: 2rem;
  }
  table {
    width: 100%;
    text-align: left;
    .view-icon {
      border: none;
      border-radius: $roger-border-radius;
      font-size: 1.5rem;
      cursor: pointer;
      text-decoration: none;
      color: white;
      align-content: center;
    }
    .view-icon:hover {
      color: $roger-blue;
    }

    .add-comment-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      width: 150px;
      background-color: $roger-black-dark;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: white;
      text-align: center;
    }

    .add-comment-button:hover {
      background-color: $roger-blue;
    }
    .review-sent-text {
      color: $roger-green;
      font-size: 0.8rem;
    }
  }
}
