@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.results-container {
  background-color: $roger-box-bg-color;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;

  .title {
    font-size: 2rem;
  }
  table {
    width: 100%;
    text-align: left;

    .event-row:hover {
      background-color: $roger-black-light;
      cursor: pointer;
    }
    .add-comment-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      cursor: pointer;
    }
    .add-comment-button:hover {
      background-color: $roger-blue;
    }
    .review-sent-text {
      color: $roger-green;
      font-size: 0.8rem;
    }
  }
}
