@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.profile {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  h3 {
    margin-bottom: 2vh;
    color: $roger-green;
  }

  .top-sections-container {
    display: flex;
    justify-content: space-between;

    .profile-section {
      background-color: $roger-box-bg-color;
      width: 50%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;

      .trainer-image {
        width: 50px;
      }
    }

    .subscription-section {
      background-color: $roger-box-bg-color;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      width: 45%;
      button {
        padding: $roger-box-padding;
        border-radius: $roger-border-radius;
        border: none;
        margin-top: 4vh;
        font-size: 1rem;
        font-weight: bold;
        width: 200px;
      }

      button:hover {
        background-color: $roger-blue;
        cursor: pointer;
      }
    }
  }
}
