@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.profile {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;

  .top-sections-container {
    display: flex;
    justify-content: space-between;

    .profile-section {
      background-color: $roger-box-bg-color;
      width: 50%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 30px;
      .profile-data-container {
        display: flex;
        column-gap: 50px;

        .secondary-profile-data-container {
          display: flex;
          flex-direction: column;
          row-gap: 10px;

          .profile-info {
            display: flex;
            align-items: center;
            column-gap: 10px;
            align-items: start;
            .icon {
              font-size: 20px;
            }
            .info-text {
              width: 90%;
            }
          }
          .club-info {
            display: flex;
            align-items: center;
            column-gap: 15px;
            align-items: start;
            .icon {
              font-size: 20px;
            }
            .info-text {
              width: 90%;
            }
          }
        }
      }

      .profile-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .interaction-section {
      background-color: $roger-box-bg-color;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 30px;

      .buttons-container {
        display: flex;
        column-gap: 2vw;
        margin-top: 50px;
        align-items: center;
        .interaction-button {
          padding: 10px;
          border-radius: $roger-border-radius;
          border: none;
          background-color: $roger-black-dark;
          font-size: 0.8rem;
          cursor: pointer;
          text-decoration: none;
          color: white;
          text-align: center;
        }
        .interaction-button:hover {
          background-color: $roger-blue;
          cursor: pointer;
        }
        .cancel-student-button {
          padding: 10px;
          border-radius: $roger-border-radius;
          border: none;
          width: 150px;
          background-color: $roger-red;
          font-size: 0.8rem;
          cursor: pointer;
          text-decoration: none;
          color: white;
          text-align: center;
        }
        .cancel-student-button:hover {
          background-color: $roger-blue;
          cursor: pointer;
        }
      }
      .pending-confirmation-text {
        font-size: 0.8rem;
        color: $roger-yellow;
        margin-top: auto;
      }

      .accept-button {
        font-weight: bold;
        text-decoration: none;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        color: $roger-blue;
        cursor: pointer;
      }
    }
  }

  .middle-sections-container {
    display: flex;
    justify-content: space-between;
    .reviews-section {
      background-color: $roger-box-bg-color;
      width: 100%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      row-gap: 30px;
      display: flex;
      flex-direction: column;

      .reviews-container {
        display: flex;
        column-gap: 10px;
        width: 100%;
        .review-container-wrapper {
          background-color: $roger-black-dark;
          padding: $roger-box-padding;
          border-radius: $roger-border-radius;
          row-gap: 20px;
          display: flex;
          flex-direction: column;
          width: 50%;
          justify-content: space-between;
        }
      }
      button {
        padding: 10px;
        border-radius: $roger-border-radius;
        border: none;
        width: 150px;
        background-color: $roger-black-dark;
        font-size: 0.8rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        text-align: center;
      }

      button:hover {
        background-color: $roger-blue;
        cursor: pointer;
      }
    }
  }

  .bottom-sections-container {
    .events-section {
      background-color: $roger-box-bg-color;
      width: 100%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      row-gap: 30px;
      display: flex;
      flex-direction: column;

      table {
        width: 100%;
        text-align: left;
        .player-image {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .player-name {
          color: white;
          text-decoration: none;
        }
      }
    }
    button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      width: 150px;
      background-color: $roger-black-dark;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: white;
      text-align: center;
    }

    button:hover {
      background-color: $roger-blue;
      cursor: pointer;
    }
  }
}
