@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.profile {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;

  .top-sections-container {
    display: flex;
    justify-content: space-between;

    .profile-section {
      background-color: $roger-box-bg-color;
      width: 40%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 20px;
      .profile-data-container {
        display: flex;
        column-gap: 20px;

        .secondary-profile-data-container {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          width: 50%;

          .profile-info {
            display: flex;
            align-items: center;
            column-gap: 15px;
            align-items: start;
            .icon {
              font-size: 20px;
            }
            .info-text {
              width: 90%;
            }
          }
        }
      }

      .profile-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .courts-section {
      background-color: $roger-box-bg-color;
      width: 55%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 20px;
      table {
        width: 100%;
        text-align: left;
        .view-icon {
          border: none;
          border-radius: $roger-border-radius;
          font-size: 1.5rem;
          cursor: pointer;
          text-decoration: none;
          color: white;
        }
        .view-icon:hover {
          color: $roger-blue;
        }
        .court-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      button {
        padding: 10px;
        border-radius: $roger-border-radius;
        border: none;
        width: 150px;
        background-color: $roger-black-dark;
        font-size: 0.8rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        text-align: center;
      }

      button:hover {
        background-color: $roger-blue;
        cursor: pointer;
      }
    }
  }

  .mid-top-sections-container {
    display: flex;
    justify-content: space-between;

    .favourites-section {
      background-color: $roger-box-bg-color;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 20px;
      button {
        padding: 10px;
        border-radius: $roger-border-radius;
        border: none;
        width: 150px;
        background-color: $roger-black-dark;
        font-size: 0.8rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        text-align: center;
      }

      button:hover {
        background-color: $roger-blue;
        cursor: pointer;
      }
    }
    .trainers-section {
      background-color: $roger-box-bg-color;
      width: 55%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 20px;
      .trainers-section-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      table {
        width: 100%;
        text-align: left;

        .trainer-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .view-icon {
          border: none;
          border-radius: $roger-border-radius;
          font-size: 1.5rem;
          cursor: pointer;
          text-decoration: none;
          color: white;
        }
        .view-icon:hover {
          color: $roger-blue;
        }
        .lesson-button {
          padding: 10px;
          border-radius: $roger-border-radius;
          border: none;
          width: 150px;
          background-color: $roger-black-dark;
          font-size: 0.8rem;
          cursor: pointer;
          text-decoration: none;
          color: white;
        }
        .lesson-button:hover {
          background-color: $roger-blue;
        }
      }
      button {
        padding: 10px;
        border-radius: $roger-border-radius;
        border: none;
        width: 150px;
        background-color: $roger-black-dark;
        font-size: 0.8rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        text-align: center;
      }

      button:hover {
        background-color: $roger-blue;
        cursor: pointer;
      }
    }
  }
  .mid-bottom-sections-container {
    display: flex;
    justify-content: space-between;

    .subscribers-section {
      background-color: $roger-box-bg-color;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 20px;
      button {
        padding: 10px;
        border-radius: $roger-border-radius;
        border: none;
        width: 150px;
        background-color: $roger-black-dark;
        font-size: 0.8rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        text-align: center;
      }

      button:hover {
        background-color: $roger-blue;
        cursor: pointer;
      }
    }
    .subscriptions-section {
      background-color: $roger-box-bg-color;
      width: 55%;
      padding: $roger-box-padding;
      border-radius: $roger-border-radius;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 20px;
      table {
        width: 100%;
        text-align: left;
      }
      button {
        padding: 10px;
        border-radius: $roger-border-radius;
        border: none;
        width: 150px;
        background-color: $roger-black-dark;
        font-size: 0.8rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        text-align: center;
      }

      button:hover {
        background-color: $roger-blue;
        cursor: pointer;
      }
      .subscribed-text {
        color: $roger-green;
      }
    }
  }
  .bottom-section-container {
    background-color: $roger-box-bg-color;
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    .rules-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .rule-container {
        width: 25%;
      }
    }
  }
}
