@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.club-subscriptions-container {
  background-color: var(--$roger-box-bg-color);
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--box-border-color);
  width: 25%;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
  text-decoration: none;
  transition: 1s ease;
  @include medium-screen {
    width: 49%;
  }
  @include small-screen {
    width: 100%;
  }
  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    background-color: $roger-black-dark;
    border: none;
    width: 200px;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: $roger-black-light;
  }
}
.club-subscriptions-container:hover {
  border-color: var(--box-border-color-hover);
}
