@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;
  border: 1px $roger-border-color solid;

  .title-container {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 2rem;
    }
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    .trainer-row {
      border-bottom: 1px solid $roger-border-color;

      td {
        border-top: 1px solid $roger-border-color;
        vertical-align: middle;
        padding: 10px;
        height: 12vh;
      }

      .trainer-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
      }

      .trainer-name {
        color: white;
        text-decoration: none;
      }
    }

    .cancel-button {
      background-color: $roger-black-dark;
      border: none;
      width: 150px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
    }

    .cancel-button:hover {
      background-color: $roger-black-light;
    }
    .icon {
      cursor: pointer;
    }
  }
}
