@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.header-trainer-container {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  $header-z-index: 10;
  .header-nav-sub-container {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
    @include medium-screen {
      width: 100%;
      justify-content: start;
    }
    @include small-screen {
      display: none;
    }
  }
  .menu {
    display: none;
    @include small-screen {
      display: flex;
      margin-left: auto;
      font-size: 1.5rem;
    }
  }
  .nav-link-trainer {
    color: var(--text-color);
    text-decoration: none;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    border-bottom: 1px solid inherit;
    padding-bottom: 1vh;
    font-size: 1rem;
    .notification {
      font-size: 0.5rem;
      color: $roger-blue;
    }
  }

  .nav-link-trainer:hover {
    color: $roger-blue;
  }

  .active-nav-link-trainer {
    color: $roger-blue;
    text-decoration: none;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    border-bottom: 1px solid $roger-blue;
    padding-bottom: 1vh;
    font-size: 1rem;
    .notification {
      color: white;
      font-size: 0.5rem;
    }
  }
}
