@import "/src/common/styles/colors.scss";

.register-container {
  display: flex;
  flex-direction: column;
  .change-user-type-button {
    margin-top: 2vh;
    border: none;
    background-color: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    color: var(--text-color);
  }

  .change-user-type-button:hover {
    color: $roger-blue;
  }
}
