@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  width: 100%;
  padding: 10px 55px;
  z-index: $header-z-index;
  background-color: $roger-box-bg-color;
  border-bottom: 1px solid $roger-border-color;
  height: 20vh;

  .top-container {
    display: flex;
    justify-content: space-between;

    .logo-title {
      font-size: 1.7rem;
      color: $roger-text-color;
      text-decoration: none;
      font-weight: bolder;
      border-bottom: 1px solid inherit;
      padding-bottom: 1vh;
    }
    .logo-title:hover {
      color: $roger-blue;
    }
    .active-logo-title {
      font-size: 1.7rem;
      color: $roger-blue;
      text-decoration: none;
      font-weight: bolder;
      border-bottom: 1px solid $roger-blue;
      padding-bottom: 1vh;
    }
    .user-nav {
      display: flex;
      column-gap: 15px;
      align-items: center;

      .notification {
        font-size: 1.5rem;
        cursor: pointer;
      }
      .profile-image {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }

      .nav-link {
        color: $roger-text-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        border: none;
        background-color: inherit;
        cursor: pointer;
      }

      .nav-link:hover {
        color: $roger-blue;
      }

      .active-nav-link {
        color: $roger-blue;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        border: none;
        background-color: inherit;
        cursor: pointer;
      }
    }
  }
}
