@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 55px;
  align-items: center;
  z-index: 9999;
  background-color: $roger-bg-color;
  height: 10vh;

  .logo-title {
    font-size: 2rem;
    color: $roger-text-color;
    text-decoration: none;
    font-weight: bolder;
  }

  .logo-title:hover {
    color: $roger-blue;
  }

  .header-nav-container {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;

    .search-icon {
      width: 25px;
      cursor: pointer;
    }
    .search-container {
      display: flex;
      column-gap: 10px;

      .search-input {
        border-radius: $roger-border-radius;
        border: none;
        width: 200px;
        padding: 5px;
      }

      .search-buttons-container {
        display: flex;
        column-gap: 5px;
      }
      .search-button {
        padding: 5px;
        background-color: inherit;
        border: 1px solid $roger-blue;
        border-radius: $roger-border-radius;
        font-weight: bold;
        cursor: pointer;
      }
      .search-button:hover {
        background-color: $roger-blue;
      }
      .clear-button {
        padding: 5px;
        background-color: inherit;
        border: 1px solid $roger-red;
        border-radius: $roger-border-radius;
        font-weight: bold;
        cursor: pointer;
      }
      .clear-button:hover {
        background-color: $roger-red;
      }
    }

    .header-nav-sub-container {
      display: flex;
      justify-content: space-between;
      column-gap: 15px;
      align-items: center;
    }

    .nav-link {
      color: $roger-text-color;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      border: none;
      background-color: inherit;
      cursor: pointer;
    }

    .nav-link:hover {
      color: $roger-blue;
    }

    .logout-link {
      color: $roger-red;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
