/* BouncingBall.css */
.ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the viewport height */
}

.tennis-ball {
  width: 100px; /* Adjust the width of the tennis ball as needed */
  height: 100px; /* Adjust the height of the tennis ball as needed */
  animation: bounce 1s infinite;
  color: yellowgreen;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-50px); /* Adjust the bounce height */
  }
  50% {
    transform: translateY(0);
  }
}
