@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.player-account-details-container {
  background-color: var(--box-background-color);
  width: 100%;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
  justify-content: space-between;
  border: 1px solid $roger-border-color;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;

  .title-container {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;

    h4 {
      font-size: 1.2rem;
    }
    p {
      width: 400px;
    }
  }

  .form-container {
    display: flex;
    column-gap: 2vh;
    justify-content: space-between;
    align-items: end;

    label {
      font-size: 0.9rem;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      row-gap: 1vh;
      width: 250px;

      select {
        padding: $roger-button-padding;
        border-radius: $roger-border-radius;
        border: 1px solid $roger-border-color;
        width: 100%;
        background-color: inherit;
        color: var(--text-color);
      }
    }

    .active-button {
      background-color: $roger-blue;
      border: none;
      width: 200px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 1rem;
      cursor: pointer;
      height: 40px;
    }
    .active-button:hover {
      background-color: $roger-black-dark;
    }
    .disabled-button {
      background-color: $roger-black-dark;
      color: white;
      border: none;
      width: 200px;
      height: 40px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 1rem;
      cursor: not-allowed;
    }
  }
}
