@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.player-subscriptions-container {
  background-color: $roger-box-bg-color;
  width: 48%;
  height: 50vh;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2vh;
  height: 55vh;

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .nav-container {
    display: flex;
    border-radius: $roger-border-radius;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .active-button {
      background-color: $roger-blue;
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      width: 30%;
    }
    .inactive-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      width: 30%;
    }
    .inactive-button:hover {
      background-color: $roger-black-light;
    }
  }

  table {
    width: 100%;
    text-align: left;

    .image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .remove-fav-icon {
      color: $roger-blue;
      cursor: pointer;
      font-size: 1.5rem;
      vertical-align: middle;
    }
  }

  .view-all-button {
    background-color: $roger-black-dark;
    border: none;
    width: 200px;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
  }
  .view-all-button:hover {
    background-color: $roger-black-light;
  }
}
