@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;

  .add-booking-package-container {
    border: none;
    display: flex;
    justify-content: flex-end;

    .add-booking-package-button {
      display: flex;
      align-items: center;
      background-color: $roger-blue;
      border-radius: $roger-border-radius;
      padding: $roger-box-padding;
      border: none;
      cursor: pointer;
    }

    .add-icon {
      width: 30px;
    }

    .add-title {
      font-size: 1rem;
    }
  }
  .result-title {
    font-size: 2rem;
  }

  table {
    width: 100%;
    text-align: left;

    .player-row:hover {
      background-color: $roger-black-light;
      cursor: pointer;
    }
    .player-image {
      width: 50px;
      height: 50px;
    }

    .cancel-button {
      font-weight: bold;
      border: none;
      background-color: transparent;
      font-size: 1rem;
      color: $roger-red;
      cursor: pointer;
    }
  }
}
