@import "/src/common/styles/colors.scss";
@import "/src/common/styles/z-index.scss";

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10vh 0 5vh 0;
  row-gap: 20px;
  border-top: 1px solid;
  border-top-color: var(--text-color);
  padding-top: 5vh;
  .top-container {
    display: flex;
    justify-content: space-between;
    @include small-screen {
      flex-direction: column;
      row-gap: 6vh;
    }
    .intro-container {
      display: flex;
      flex-direction: column;
      width: 30%;
      @include small-screen {
        width: 100%;
      }
    }

    .navigation-container {
      nav {
        display: flex;
        width: 30%;
        column-gap: 15px;

        .left-nav {
          display: flex;
          flex-direction: column;
        }
        .right-nav {
          display: flex;
          flex-direction: column;
        }
        a {
          color: var(--text-color);
          text-decoration: none;
        }
        a:hover {
          color: $roger-blue;
        }
      }
      @include small-screen {
        display: none;
      }
    }

    .social-container {
      display: flex;
      column-gap: 10px;
    }
    .corporate-container {
      display: flex;
      flex-direction: column;
      @include small-screen {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 4vw;
        row-gap: 2vh;
      }
      a {
        color: var(--text-color);
        text-decoration: none;
      }
      a:hover {
        color: $roger-blue;
      }
    }
  }
  .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include small-screen {
      flex-direction: column;
      align-items: start;
      row-gap: 4vh;
      margin-top: 2vh;
    }
    .copyright-container {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
    .sponsor-logo {
      width: 150px;
    }
  }
}
