@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.confirmation-container {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;

  .table-container {
    table {
      width: 100%;
      text-align: left;
      border-collapse: collapse;

      .row {
        border-bottom: 1px solid $roger-border-color;

        td {
          border-top: 1px solid $roger-border-color;
          vertical-align: middle;
          padding: 10px;
          height: 12vh;
          .image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
          }
        }
      }
    }
  }
  .pricing {
    margin-top: 1vh;
    font-size: 0.9rem;
    color: var(--yellow-text);
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 4vh 0;
    .submit-button {
      background-color: var(--green-button-color);
      color: black;
      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      width: 150px;
    }

    .submit-button:hover {
      background-color: var(--green-button-color-hover);
    }
    .discard-button {
      background-color: var(--grey-button-color);
      border: none;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
      width: 150px;
    }

    .discard-button:hover {
      background-color: var(--grey-button-color-hover);
    }
  }
  .validation {
    color: $roger-red;
    font-size: 0.9rem;
  }
}
