@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";
@import "/src/common/styles/z-index.scss";

.club-rules-container {
  background-color: var(--box-background-color);
  width: 100%;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2vh;
  border: 1px solid $roger-border-color;
  border-radius: $roger-border-radius;
  padding: $roger-box-padding;
  overflow-x: auto;
  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .tables-container {
    display: flex;
    column-gap: 15px;
    @include small-screen {
      flex-direction: column;
      row-gap: 3vh;
    }
    .player-rules-table,
    .lesson-rules-table,
    .court-rules-table {
      width: 100%;
      text-align: left;
      border: 1px solid $roger-black-light;
      border-radius: $roger-border-radius;
      .edit:hover {
        color: $roger-blue;
        cursor: pointer;
      }
      .green-text {
        color: $roger-green;
      }
      .red-text {
        color: $roger-red;
      }

      td,
      tr {
        vertical-align: top;
      }
    }
  }

  .player-rules-table:hover,
  .lesson-rules-table:hover,
  .court-rules-table:hover {
    border-color: $roger-blue;
    cursor: pointer;
  }

  button {
    background-color: $roger-black-dark;
    border: none;
    width: 200px;
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: $roger-black-light;
  }
}
