@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;
  border: 1px $roger-border-color solid;

  .title-container {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 2rem;
    }
    .nav-container {
      display: flex;
      column-gap: 1vw;

      .nav-arrow {
        font-size: 1.3rem;
        cursor: pointer;
      }
      .nav-arrow:hover {
        color: $roger-text-color-hover;
      }
    }
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    .trainer-row {
      border-bottom: 1px solid $roger-border-color;

      td {
        border-top: 1px solid $roger-border-color;
        vertical-align: middle;
        padding: 10px;
        height: 12vh;

        .remove-fav-icon {
          color: $roger-blue;
          cursor: pointer;
          font-size: 1.5rem;
          vertical-align: middle;
        }
        .add-fav-icon {
          cursor: pointer;
          font-size: 1.5rem;
          vertical-align: middle;
        }
        .add-fav-icon:hover {
          color: $roger-blue;
        }
      }

      .trainer-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
      }

      .trainer-name {
        color: white;
        text-decoration: none;
      }
    }

    .lesson-button {
      background-color: $roger-black-dark;
      border: none;
      width: 150px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
    }

    .lesson-button:hover {
      background-color: $roger-black-light;
    }

    .add-student-button {
      background-color: $roger-black-dark;
      border: none;
      width: 150px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
    }

    .add-student-button:hover {
      background-color: $roger-black-light;
    }

    .cancel-student-button {
      background-color: $roger-red;
      border: none;
      width: 150px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
    }

    .cancel-student-button:hover {
      background-color: $roger-black-light;
    }

    .pending-confirmation-text {
      color: $roger-yellow;
      font-size: 0.9rem;
    }
    .icon {
      cursor: pointer;
    }
  }
  .pages-container {
    display: flex;
    column-gap: 20px;
    margin-top: 2vh;
    .active-page {
      background-color: $roger-blue;
      padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: $roger-border-radius;
      border: none;
      cursor: pointer;
    }
    .passive-page {
      background-color: $roger-black-dark;
      padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: $roger-border-radius;
      border: none;
      cursor: pointer;
    }
  }
}
