@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.header-club-container {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;

  .header-nav-sub-container {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
  }

  .nav-link-club {
    color: $roger-text-color;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  .nav-link-club:hover {
    color: $roger-blue;
  }

  .active-nav-link-club {
    color: $roger-blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
}
