@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: $roger-box-bg-color;
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;

  .add-subscription-package-container {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-subscription-package-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      background-color: $roger-green;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: black;
      text-align: center;
      display: flex;
      align-items: center;
    }
    .add-subscription-package-button:hover {
      background-color: $roger-blue;
      color: white;
    }
    .add-icon {
      width: 30px;
    }

    .add-title {
      font-size: 1rem;
    }
  }

  .result-title {
    font-size: 2rem;
  }

  table {
    width: 100%;
    text-align: left;

    .subscription-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .subscriber-name {
      color: white;
      text-decoration: none;
    }
    .view-button {
      padding: 10px;
      border-radius: $roger-border-radius;
      border: none;
      background-color: $roger-black-dark;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: none;
      color: white;
      text-align: center;
    }
    .view-button:hover {
      background-color: $roger-blue;
    }
  }
}
