@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.login-page-container {
  display: flex;
  align-items: stretch;
  margin-top: 100px;

  .hero {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: $roger-border-radius;
  }

  .login-form-content {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    background-color: $roger-box-bg-color;
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    width: 45%;
    margin: 0 auto;
  }

  .login-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }

  input {
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    border: none;
  }

  .form-button {
    padding: $roger-box-padding;
    border-radius: $roger-border-radius;
    border: none;
    margin-top: 4vh;
    font-size: 1rem;
    font-weight: bold;
  }

  .form-button:hover {
    background-color: $roger-blue;
    cursor: pointer;
  }

  .error-field {
    color: $roger-red;
    font-size: 0.8rem;
  }
}
