@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.nav-container {
  display: flex;
  border-radius: $roger-border-radius;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .active-button {
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    border: 1px solid $roger-border-color;
    width: 25%;
    background-color: $roger-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    .notification {
      font-size: 0.7rem;
      font-weight: bold;
      color: black;
    }
  }
  .inactive-button {
    padding: $roger-button-padding;
    border-radius: $roger-border-radius;
    border: 1px solid $roger-border-color;
    width: 25%;
    background-color: $roger-box-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    cursor: pointer;
    .notification {
      font-size: 0.7rem;
      color: $roger-yellow;
    }
  }
  .inactive-button:hover {
    background-color: $roger-black-light;
  }
}
