@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.result-container {
  display: flex;
  flex-direction: column;
  background-color: var(--box-background-color);
  padding: $roger-box-padding;
  border-radius: $roger-border-radius;
  row-gap: 20px;
  border: 1px $roger-border-color solid;

  .top-container {
    display: flex;
    justify-content: space-between;
    .title-container {
      display: flex;
      align-items: center;
      column-gap: 2vw;
      .result-title {
        font-size: 2rem;
      }
      .filter {
        cursor: pointer;
      }
      .active-filter {
        color: $roger-blue;
        cursor: pointer;
      }
    }
    .navigation-container {
      display: flex;
      column-gap: 10px;

      .nav-arrow {
        font-size: 1.5rem;
        cursor: pointer;
      }
      .nav-arrow:hover {
        color: $roger-blue;
      }
    }
  }
  .nav-filter-container {
    display: flex;
    column-gap: 2vw;

    .input-container {
      display: flex;
      width: 15%;
      align-items: center;
      background-color: $roger-black-dark;
      padding: 2px;
      border-radius: $roger-border-radius;
      justify-content: center;
      column-gap: 14px;

      select,
      input {
        padding: $roger-button-padding;
        border-radius: $roger-border-radius;
        border: 1px solid $roger-border-color;
        width: 100%;
        background-color: $roger-box-bg-color;
        cursor: pointer;
      }
    }

    .search-container {
      display: flex;
      width: 30%;
      align-items: center;
      background-color: $roger-black-dark;
      padding: 2px;
      border-radius: $roger-border-radius;
      justify-content: center;
      column-gap: 14px;

      label {
        font-weight: bold;
      }

      select,
      input {
        padding: $roger-button-padding;
        border-radius: $roger-border-radius;
        border: 1px solid $roger-border-color;
        width: 100%;
        background-color: $roger-box-bg-color;
      }
    }
  }
  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    .trainer-row {
      border-bottom: 1px solid $roger-border-color;

      td {
        border-top: 1px solid $roger-border-color;
        vertical-align: middle;
        padding: 10px;
        height: 12vh;
      }

      .trainer-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
      }

      .trainer-name {
        color: var(--text-color);
        text-decoration: none;
      }
      .remove-fav-icon {
        color: $roger-blue;
        cursor: pointer;
        font-size: 1.5rem;
        vertical-align: middle;
      }
      .add-fav-icon {
        cursor: pointer;
        font-size: 1.5rem;
        vertical-align: middle;
      }
      .add-fav-icon:hover {
        color: $roger-blue;
      }
    }

    .lesson-button {
      background-color: var(--primary-button-background-color);
      border: none;
      width: 150px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
    }

    .lesson-button:hover {
      background-color: $roger-black-light;
    }
    .add-student-button {
      background-color: var(--secondary-button-background-color);
      border: none;
      width: 150px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
    }

    .add-student-button:hover {
      background-color: $roger-black-light;
    }

    .cancel-student-button {
      background-color: $roger-red;
      border: none;
      width: 150px;
      padding: $roger-button-padding;
      border-radius: $roger-border-radius;
      font-size: 0.9rem;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
    }

    .cancel-student-button:hover {
      background-color: $roger-black-light;
    }

    .pending-confirmation-text {
      color: $roger-yellow;
      font-size: 0.9rem;
    }
    .icon {
      cursor: pointer;
    }
  }

  .pages-container {
    display: flex;
    column-gap: 20px;
    margin-top: 2vh;
    .active-page {
      background-color: $roger-blue;
      padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: $roger-border-radius;
      border: none;
      cursor: pointer;
    }
    .passive-page {
      background-color: $roger-black-dark;
      padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: $roger-border-radius;
      border: none;
      cursor: pointer;
    }
  }
}
